
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: medium;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html,
body {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	color: #FFFFFF;
	background: rgb(0,0,0);
	background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(9,9,9,1) 100%);

	/*
	max-width: 100%;
	overflow-x: hidden;
	*/
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	flex-shrink: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button, input {
	outline: none;
	border: none;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

.noscroll {
	overflow: hidden;
	height: 100%;
	margin-right: 17px;
}

.block__center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	width: 130rem;
	margin: 0 auto;
}

.button {
	border-radius: 5rem;
	padding: 1rem 3rem;

	font-size: 1.6rem;
	color: inherit;
	line-height: 150%;
}

.header {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	width: 100%;
	z-index: 10;



	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
}

.header__logo img {
	width: 4rem;
	height: 4rem;
	padding-left: 8rem;
	padding-top: 4rem;
	transform: translateY(-25%);
}

.header__nav a {
	font-size: 1.6rem;
	line-height: 150%;
}

.header__nav a:not(:last-child) {
	margin-right: 7.1rem;
}

.header__button {
	background: linear-gradient(95deg, #C89AFC 9.51%, #7C6AFA 90.23%);
	margin-left: 20rem;
	margin-right: 11rem;
}

.promo {
	margin-top: 27rem;
	padding-bottom: 22.8rem;
}

.promo .container {
	position: relative;
	z-index: 10;
}

.promo__title {
	font-size: 6.4rem;
	font-weight: 700;
	line-height: 140%;

	width: 68rem;
}

.promo__timer {
	display: flex;
}

.timer__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 10.2rem;
	height: 11.2rem;
	background: #121212;

	margin-top: 5rem;
}

.timer__item:not(:last-child) {
	margin-right: 3rem;
}

.timer__value {
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 140%;
}

.timer__desc {
	font-size: 1.6rem;
	opacity: 0.4;
	line-height: 140%;
}

.promo__button {
	background: linear-gradient(95deg, #DF5950 11.19%, #451046 93.72%);
	font-weight: 700;

	margin-top: 7.6rem;
}

.promo__background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.about {
	padding-top: 20rem;
}

.about .container{
	display: flex;
	justify-content: space-between;
}

.about__img img {
	width: 52.6rem;
	height: 54.2rem;
}

.about__text {
	padding-left: 14rem;
	padding-top: 6.9rem;
}

.about__text h2 {
	font-size: 4.8rem;
	font-weight: 700;
	line-height: 140%;
}

.about__text p {
	font-size: 1.6rem;
	line-height: 160%;
	padding-top: 4.5rem;
}

.start {
	padding-top: 20rem;
	padding-bottom: 20rem;
}

.start__header {
	display: flex;
	align-items: center;

	margin-left: -2rem;
}

.start__icon img {
	height: 12.7rem;
	width: 12.7rem;
	animation-name: rotation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.start__title {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 140%;
}

.start__desc {
	padding-top: 2rem;
	font-size: 1.6rem;
	line-height: 160%;
	opacity: 0.5;
	max-width: 40rem;
}

.start__steps {
	display: flex;
	padding-top: 8.2rem;
}

.start__steps:after {
	content: '';
	display: block;
	width: 130rem;
	background-color: #C89AFC;
	background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
	height: 1px;
	position: absolute;
	transform: translateY(6.5rem);
}

.steps_item {
	width: 25%;
}

.steps__title {
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 140%;
	padding-bottom: 6.5rem;
}

.steps__desc {
	font-size: 1.4rem;
	line-height: 160%;
	opacity: 0.5;
	padding-right: 1.8rem;
}

.staff {
	padding-bottom: 20rem;
}

.staff__header {
	display: flex;
	align-items: center;

	margin-left: -2rem;
}

.staff__icon img {
	height: 12.7rem;
	width: 12.7rem;
	animation-name: rotation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.staff__title {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 140%;
}

.staff__peoples {
	display: flex;
	justify-content: space-around;
	padding-top: 11rem;
}

.people__item {
	display: flex;
	flex-direction: column;
}

.people__photo img {
	height: 19rem;
	width: 19rem;
}

.people__name {
	text-align: center;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 140%;
	padding-top: 4rem;
	padding-bottom: 1.5rem;
}

.people__desc {
	text-align: center;
	font-size: 1.6rem;
	line-height: 160%;
	opacity: 0.8;
	padding-bottom: 3rem;
}

.people__bio {
	font-size: 1.6rem;
	line-height: 150%;
	border: 1px solid #FFFFFF;
	background-color: #050505;
	text-align: center;
}

.footer {
	padding-bottom: 20rem;
}

.footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__header {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 140%;
	text-align: center;
}

.footer__desc {
	text-align: center;
	font-size: 1.6rem;
	line-height: 160%;
	opacity: 0.5;
	padding-top: 3rem;
}

.footer__button {
	background: linear-gradient(95deg, #DF5950 11.19%, #451046 93.72%);
	font-weight: 700;
	margin-top: 4.1rem;
	margin-bottom: 4.1rem;
	max-width: 18.8rem;

}

.footer__vk, .footer__yt, .footer__fb, .footer__ig {
	background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
	max-height: 5rem;
	max-width: 5rem;
	padding: 1.3rem;
	margin: 0 1.5rem;
}

.modal {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
	padding: 3rem 0;
	background: rgba(0, 0, 0, 0.8);

	display: none;
}

.modal__inner {
	position: relative;
	width: 66.3rem;
	padding: 9rem 1rem;
	background: #2c2c2c;
	text-align: center;
}

.modal__header {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 140%;
	margin-bottom: 1rem;
}

.modal__desc {
	font-size: 1.6rem;
	line-height: 160%;
	opacity: 0.5;
	margin-bottom: 2.8rem;
}

.modal__elements {
	margin: 0 auto 3.2rem auto;
	width: 45.4rem;
}

.modal__item {
	height: 4.4rem;
}

.modal__input {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 5rem;
	font-size: 1.4rem;
	line-height: 160%;
	opacity: 0.8;

}

.modal__item:not(:last-child) {
	margin-bottom: 1.6rem;
}

.modal__button {
	background: linear-gradient(95deg, #DF5950 11.19%, #451046 93.72%);
	font-weight: 700;
}

.modal__close {
	position: absolute;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	top: 3rem;
	right: 3rem;
}

/** keyframes **/

@keyframes rotation {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(-360deg);
	}
}